<section id="contenedor-tutorial">
    <div class="paso-tutorial">
        <h3> <span class="texto-color-diferente">1.</span> Go to TwitterSpaces.</h3>
        <p>Check if the recording has subtitles.</p>
        <img src="assets/tutorial/paso1.png" alt="imagen-tutorial">
    </div>
    <div class="paso-tutorial">
        <h3> <span class="texto-color-diferente">2.</span> Click on share option and Copy link.</h3>
        <p> Make sure you don't copy the tweet's link. You must copy the Twitter Space link</p>
        <img src="assets/tutorial/paso2.png" alt="imagen-tutorial">
    </div>
    <div class="paso-tutorial">
        <h3><span class="texto-color-diferente">3.</span> Paste the link and add your options.</h3>
        <p> You can change the format and the languaje. The translation could not be accurate enougth.</p>
        <img src="assets/tutorial/paso3.png" alt="imagen-tutorial">
    </div>
    <div class="paso-tutorial">
        <h3> <span class="texto-color-diferente">4.</span> Get the translation!</h3>
        <p> You can give me some feedback in the contact section. Thank you!</p>
    </div>
</section>