<section id="contenedor-tutorial">
    <div class="paso-tutorial glass">
        <h3> 1. Go to TwitterSpaces.</h3>
        <p>Check if the recording has subtitles.</p>
        <img src="#" alt="imagen-tuto">
    </div>
    <div class="paso-tutorial glass">
        <h3> 2. Click on share option and Copy link.</h3>
        <p> Make sure you don't copy the tweet's link. You must copy the Twitter Space link</p>
        <img src="#" alt="imagen-tuto">
    </div>
    <div class="paso-tutorial glass">
        <h3> 3. Paste the link and add your options.</h3>
        <p> You can change the format and the languaje. The translation could not be accurate enougth.</p>
        <img src="#" alt="imagen-tuto">
    </div>
    <div class="paso-tutorial glass">
        <h3> 4. Get the translation!</h3>
        <p> You can give me some feedback in the contact section. Thank you!</p>
        <img src="#" alt="imagen-tuto">
    </div>
</section>