<section id="contenedor-tutorial">
    <div class="paso-tutorial">
        <p> 1. Lorem, ipsum dolor.</p>
        <img src="#" alt="imagen-tuto">
    </div>
    <div class="paso-tutorial">
        <p> 1. Lorem, ipsum dolor.</p>
        <img src="#" alt="imagen-tuto">
    </div>
    <div class="paso-tutorial">
        <p> 1. Lorem, ipsum dolor.</p>
        <img src="#" alt="imagen-tuto">
    </div>
    <div class="paso-tutorial">
        <p> 1. Lorem, ipsum dolor.</p>
        <img src="#" alt="imagen-tuto">
    </div>
</section>