#contenedor-tutorial{
    /* display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 2fr));
    grid-gap: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    min-height: 400px;
    gap: 50px;
}
.paso-tutorial{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex: 40%;
    color: var(--color-letras);
    height: max-content;
}

.paso-tutorial img{
    display: flex;
    align-self: center;
    justify-self: center;
    padding-top: 30px;
}
@media only screen and (max-width: 600px){
    .paso-tutorial{
        width: 80%;
    }
    .paso-tutorial h3{
        font-size: 2em;
    }
    .paso-tutorial p{
        font-size: 1.2em;
    }
    .paso-tutorial img{
        width: 70%;
    }
}