/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  background: linear-gradient(to right, #24243e, #302b63, #24243e,#24243e);
  background-size: 200%; 
  animation: movimiento-back 7s linear infinite;
}

@keyframes movimiento-back{
  from{
    background-position: 0% center;
  }
  to{
    background-position: -200% center;
  }
}
